

body{
  background-color: #2b2330;
}
/* carousel  */
.carousel-principal {
 border-radius: 20px;
}

.carousel-item img {
  width: 100%;
  object-fit: cover;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #f19fcd;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 15px;
  background-size: 60% 60%;
}


/* boton personalizado  */

.btn-suricata {
  background-color: #e6007e;   
  color: #fff;                
  padding: 0.75rem 1.5rem;    
  border: none;                
  border-radius: 0.5rem;       
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-suricata:hover {
  background-color: #b30061;   
  transform: scale(1.05);     
}

.btn-suricata2{
  background-color: var(--night-purple);   
  color: #fff;                 
  padding: 0.75rem 1.5rem;
  border: none;                
  border-radius: 0.5rem;       
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-suricata2:hover {
  background-color: var(--ink-700);   
  transform: scale(1.05);      
}


/* modal del principio */

.modalprincipal{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40rem;
  height: 50rem;
}



